<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhjs.scfcloud.model.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.zhjs.scfcloud.model.entity.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="business_id" jdbcType="BIGINT" property="businessId" />
    <result column="business_type_id" jdbcType="BIGINT" property="businessTypeId" />
    <result column="flow_code" jdbcType="VARCHAR" property="flowCode" />
    <result column="status_desc" jdbcType="VARCHAR" property="statusDesc" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, business_id, business_type_id,flow_code, status_desc, content, create_by, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scf_comment
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findList" resultType="com.zhjs.scfcloud.model.vo.CommentVO">
        SELECT sc.id, sc.create_time, sc.content, su.user_name as create_by, sc.status_desc FROM `scf_comment` sc
        LEFT JOIN scf_user su ON su.id = sc.create_by
        WHERE sc.business_id = #{businessId}
        AND sc.business_type_id = #{businessTypeId}
        AND sc.company_id = #{companyId}
        <if test="flowCode != null">
            AND  flow_code = #{flowCode}
        </if>
        ORDER BY sc.id DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from scf_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zhjs.scfcloud.model.entity.Comment" useGeneratedKeys="true">
    insert into scf_comment (company_id, business_id, business_type_id, 
      flow_code, status_desc, content, create_by,
      create_time)
    values (#{companyId,jdbcType=BIGINT}, #{businessId,jdbcType=BIGINT}, #{businessTypeId,jdbcType=BIGINT}, 
      #{flowCode,jdbcType=VARCHAR}, #{statusDesc,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR}, #{createBy,jdbcType=BIGINT},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zhjs.scfcloud.model.entity.Comment" useGeneratedKeys="true">
    insert into scf_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="businessId != null">
        business_id,
      </if>
      <if test="businessTypeId != null">
        business_type_id,
      </if>
      <if test="flowCode != null">
        flow_code,
      </if>
      <if test="statusDesc != null">
        status_desc,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="businessId != null">
        #{businessId,jdbcType=BIGINT},
      </if>
      <if test="businessTypeId != null">
        #{businessTypeId,jdbcType=BIGINT},
      </if>
      <if test="flowCode != null">
        #{flowCode,jdbcType=VARCHAR},
      </if>
      <if test="statusDesc != null">
        #{statusDesc,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhjs.scfcloud.model.entity.Comment">
    update scf_comment
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="businessId != null">
        business_id = #{businessId,jdbcType=BIGINT},
      </if>
      <if test="businessTypeId != null">
        business_type_id = #{businessTypeId,jdbcType=BIGINT},
      </if>
      <if test="flow_code != null">
        flow_code = #{flowCode,jdbcType=VARCHAR},
      </if>
      <if test="statusDesc != null">
        status_desc = #{statusDesc,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhjs.scfcloud.model.entity.Comment">
    update scf_comment
    set company_id = #{companyId,jdbcType=BIGINT},
      business_id = #{businessId,jdbcType=BIGINT},
      business_type_id = #{businessTypeId,jdbcType=BIGINT},
      flow_code = #{flowCode,jdbcType=VARCHAR},
      status_desc = #{statusDesc,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>