<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhjs.scfcloud.model.mapper.LzProjectPledgeCashExtractMapper">
  <sql id="Base_Column_List">
    id, contract_no, extract_no, pledge_cash_no, extract_date, extract_money, delete_status, create_by,
    create_time, update_by, update_time
  </sql>
</mapper>
