<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhjs.scfcloud.model.mapper.LzProjectGatheringMapper">
  <sql id="Base_Column_List">
    id, contract_no, gathering_no, gathering_date, gathering_type, payer_full_name, gathering_full_name, 
    gathering_money, delete_status, create_by, create_time, update_by, update_time
  </sql>
</mapper>