<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhjs.scfcloud.model.mapper.RoleFunctionMapper">

    <!-- 查询角色拥有的功能代码 -->
    <select id="listFunctCodesBy" resultType="java.lang.String">
        SELECT scrf.funct_code FROM `scf_cfg_role_function` scrf
        WHERE scrf.role_id = #{roleId}
    </select>

</mapper>