<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhjs.scfcloud.model.mapper.SystemVersionMapper">
  <sql id="Base_Column_List">
    id, system_id, version_name, version_no, update_by_id, create_by_id, update_time, 
    create_time, is_delete
  </sql>
</mapper>